{% extends 'base.html' %}
{% block title %} Projects List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-5">
                            <h4>Your Projects</h4>
                        </div>
                        <div class="col-5 px-0">
                            <input id="listsrc" placeholder="Search projects (or scroll)" class="form-control form-control-sm float-right" data-search-override="true" type="text" aria-label="Search projects"/>
                        </div>
                        <div class="col-2 px-0">
                            <a href="/projects/add/" type="button" class="btn btn-sm btn-primary float-end">Add project</a>
                        </div>
                    </div>
                </div>
                <div id="prjs" class="card-body list-group list-group-flush panel-responsive-220 py-0 pr-0">
                {% for project in projects %}
                    <a class="list-group-item items py-1" href="/projects/view/{{ project.id }}">{{ project.name }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}