{% extends 'base.html' %}
{% block title %} Edit Field {% endblock %}
{% block content %}
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-12">
                            <h4>Edit Field</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% include "includes/fieldform.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}