[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chembl-webresource-client = ">=0.10.0"
crossrefapi = ">=1.6.0"
django = ">=5.0.0"
django-admin-logs = ">=1.2.0"
django-allauth = ">=0.63.0"
django-cors-headers = ">=4.4.0"
django-crispy-forms = ">=2.2.0"
django-debug-toolbar = ">=4.4.0"
djangorestframework = ">=3.15.0"
pandas = ">=2.2.0"
paramiko = ">=3.4.0"
pygithub = ">=2.3.0"
pyld = ">=2.0.0"
pymysql = ">=1.1.1"
pytest = ">=8.2.0"
qwikidata = ">=0.4.0"
requests = ">=2.32.0"
rdkit = ">=2024.3.1"
scipy = ">=1.14.0"
scyjava = ">=1.10.0"
urllib3 = ">=1.26.0"

[dev-packages]

[requires]
python_version = "3.12"
