Django==5.2.6
django-admin-logs==1.4.0
django-cors-headers==4.8.0
django-crispy-forms==2.4
python-dotenv==1.1.1
rdflib==7.1.4
PyGithub==2.8.1
PyLD==2.0.4
PyMySQL==1.1.2
pytz==2025.2
requests==2.32.5
werkzeug==3.1.3
