Django==5.2.13
django-admin-logs==1.5.0
django-cors-headers==4.9.0
django-crispy-forms==2.5
python-dotenv==1.2.1
rdflib==7.5.0
PyGithub==2.8.1
PyLD==2.0.4
PyMySQL==1.1.2
pytz==2025.2
requests==2.33.0
werkzeug==3.1.5
