{% block form %}
    <form id="fieldform" action="/fields/add/" method="post">
        <div class="container-fluid">
            <input id="ctxid" name="ctxid" type="hidden" value="{{ context.id }}"/>
            <div class="input-group row mb-2">
                <label for="name" class="input-group-text col-3" title="JSON-LD field name (required)">JSON-LD field name*</label>
                <input id="name" name="name" type="text" data-old="" value="{{ fld.name }}" class="form-control col-9"/>
            </div>
            <div class="input-group row mb-2">
                <label for="term_id" class="input-group-text col-3" title="Ontology term (required)">Ontology term*</label>
                <select id="term_id" name="term_id" class="form-control col-9">
                    <option value="" selected>Choose...</option>
                    {% for trm in trms %}
                        <option value="{{ trm.id }}" {% if trm.id == fld.term_id %} selected{% endif %}>{{ trm.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group row mb-2">
                <label for="category" class="input-group-text col-3" title="Metadata category (optional)">Metadata category</label>
                <input id="category" name="category" type="text" data-old="" class="form-control col-9"/>
            </div>
            <div class="input-group row mb-2">
                <label for="container" class="input-group-text col-3" title="@container (optional)">@container<br>(multiselect)</label>
                <select id="container" name="container" multiple size="3" class="form-control col-9">
                    <option value="" selected>Choose...</option>
                    <option value="graph">@graph</option>
                    <option value="id">@id</option>
                    <option value="index">@index</option>
                    <option value="lang">@language</option>
                    <option value="list">@list</option>
                    <option value="set">@set</option>
                    <option value="type">@type</option>
                </select>
            </div>
            <div class="input-group row mb-2">
                <label for="datatype" class="input-group-text col-3">Datatype*</label>
                <select id="datatype" name="datatype" class="form-control col-9">
                    <option value="" selected>Choose XSD Datatype...</option>
                    <option value="string">String (most common)</option>
                    <option value="dateTime">Date/Time</option>
                    <option value="decimal">Decimal</option>
                    <option value="float">Float (32 bit)</option>
                    <option value="double">Float (64 bit)</option>
                    <option value="integer">Integer</option>
                    <option value="nonNegativeInteger">Non-Negative Integer</option>
                    <option value="anyURI">URI</option>
                    <option value="@id">@id</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <div class="float-end">
                    <input type="submit" value="Add"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}