{% extends 'base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col col-4">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-0">Add Ontology Term</h4>
                        </div>
                    </div>
                </div>
                <div id="form" class="card-body panel-responsive-220">
                    <form id="addform" action="/terms/add/" method="post">
                        {% csrf_token %}
                        <div class="row ps-2 pe-2 mb-3">
                            <input type="text" class="form-control" id="ns_title" name="title" placeholder="Title" value="" aria-label="Title" />
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <input type="text" class="form-control" id="ns_defn" name="definition" placeholder="Definition" value="" aria-label="Definition"/>
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <input type="text" class="form-control" id="ns_code" name="code" placeholder="Term Code" value="" aria-label="Term Code"/>
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <select class="form-control" id="ontsel" name="ontsel" disabled aria-label="Choose Ontology">
                                <option value="">Choose Ontology...</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="float-end">
                                <input type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-5">
                            <select id="svrsel" name="svrsel" class="form-control form-control-sm" aria-label="Choose Server...">
                                <option value="" selected>Choose Server...</option>
                                {% for svr in svrs %}
                                    <option value="{{ svr.id }}">{{ svr.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
{#                        <div class="col-3">#}
{#                            <select id="ontsel" name="ontsel" class="form-control form-control-sm" disabled aria-label="Choose Ontology...">#}
{#                                <option value="">Choose Ontology...</option>#}
{#                            </select>#}
{#                        </div>#}
                        <div class="col-5">
                            <input id="listsrc" disabled placeholder="Search terms (or scroll)" class="form-control form-control-sm float-end" type="text" aria-label="Search terms..."/>
                        </div>
                        <div class="col-2">
                            <a id="trmsrc" type="button" class="btn btn-sm btn-success float-end">Search</a>
                        </div>
                    </div>
                </div>
                <div id="terms" class="card-body list-group list-group-flush panel-responsive-220">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
