{% extends 'base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col col-4">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-0">Add Ontology Term</h4>
                        </div>
                    </div>
                </div>
                <div id="form" class="card-body panel-responsive-220">
                    <form id="addform" action="/terms/add/" method="post">
                        {% csrf_token %}
                        <input id="svrid" name="svrid" type="hidden" value="" aria-label="Server ID">
                        <input id="ontid" name="ontid" type="hidden" value="" aria-label="Ontology ID">
                        <div class="row ps-2 pe-2 mb-3">
                            <input type="text" class="form-control" id="trm_title" name="title" placeholder="Term" value="" aria-label="Term"/>
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <textarea class="form-control" id="trm_defn" rows="5"  name="definition" placeholder="Definition" aria-label="Definition"></textarea>
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <input type="text" class="form-control" id="trm_code" name="code" placeholder="Term Code" value="" aria-label="Term Code"/>
                        </div>
                        <div class="row ps-2 pe-2 mb-3">
                            <select class="form-control" id="trm_ont" name="ns" {% if onts|length == 0 %}disabled {% endif %}aria-label="Choose Ontology...">
                                <option value="">Choose Ontology...</option>
                                {% for ont in onts %}
                                    <!-- ont ID is used here to identify these are local (not from server) ontologies -->
                                    <option value="{{ ont.id }}">{{ ont.name }}</option> 
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="float-end">
                                <input type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="card mt-2">
                <div id="header" class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-5">
                            <select id="svrsel" name="svrsel" class="form-control form-control-sm" aria-label="Choose Server...">
                                <option value="" selected>Choose Server...</option>
                                {% for svr in svrs %}
                                    <option value="{{ svr.id }}">{{ svr.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <div id="spinner" class="spinner-border spinner-border-sm" style="width: 1.5rem; height: 1.5rem;display: none;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <input id="srcstr" disabled placeholder="Add search string..." class="form-control form-control-sm float-end" type="text" aria-label="Add search string..."/>
                        </div>
                        <div class="col-2">
                            <a id="trmsrc" type="button" class="btn btn-sm btn-success float-end">Search</a>
                        </div>
                    </div>
                </div>
                <div id="terms" class="card-body list-group list-group-flush panel-responsive-220 py-0 px-0">
                    <div class="mx-4 my-4">
                        <h3>Instructions</h3>
                        <p>To make it easier to manage term information (as there millions of definitions, and counting)
                            you save the terms you need to refer to in context files in the local database.  This interface
                            allows you find terms across multiple ontology servers and add them to the local database.
                        </p>
                        <ol>
                            <li>Select the ontology server from the above dropdown menu.  When this is done the search
                                field above will be enabled (not greyed out).</li>
                            <li>Add a search string in the search box above.</li>
                            <li>Click the search button (note these directions will go away!).</li>
                            <li>Click on the term you wish to save, and the data will be populated in the form on the left.</li>
                            <li>Click 'Add' to store the term in the database.</li>
                        </ol>
                        <p>Note: Some searches may be slower than others, so be patient....</p>
                    </div>
                </div>
                <div id="footer" class="card-footer">
                    <div id="subsrc" class="col-5 offset-7" style="display: none;">
                        <input id="listsrc" placeholder="Search terms above..." class="form-control form-control-sm" type="text" aria-label="Search terms above..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
