{% extends 'base.html' %}
{% block title %} Term List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-5">
                            <h4>Defined Terms</h4>
                        </div>
                        <div class="col-5 px-0">
                        {% if terms|length > 10 %}
                            <input id="btnsrc" placeholder="Search terms (or scroll)" class="form-control form-control-sm float-right" data-search-override="true" aria-label="Search terms" type="text"/>
                        {% endif %}
                        </div>
                        <div class="col-2 px-0">
                            <a href="/terms/add/" type="button" class="btn btn-sm btn-primary float-end">Add Term</a>
                        </div>
                    </div>
                </div>
                <div id="onts" class="card-body list-group list-group-flush panel-responsive-220 py-0 px-0">
                    {% for term in terms %}
                        <a class="list-group-item items py-1" href="/terms/view/{{ term.id }}">{{ term.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}