{% extends 'base.html' %}
{% block title %} Term View {% endblock %}
{% block content %}
    <div class="row">
        <div class="col col-10 mt-2">
            <h3>Term: {{ term.title }}</h3>
            <ul>
                <li>Definition: {{ term.definition }}</li>
                <li>IRI: <a href="{{ term.iri }}" target="_blank">{{ term.iri }}</a><i class="bi bi-link"></i></li>
                <li>Short IRI: {{ nsiri }}</li>
                <li>In Ontology: <a href="/onts/view/{{ term.ont.id }}">{{ term.ont.name }}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-5">
                            <h4>Used in Contexts</h4>
                        </div>
                        <div class="col-5 px-0">
                            <input id="btnsrc" placeholder="Search terms (or scroll)" class="form-control form-control-sm float-right" data-search-override="true" type="text"/>
                        </div>
                    </div>
                </div>
                <div id="ctxs" class="card-body list-group list-group-flush panel-responsive-220 py-0 pr-0">
                    {% for ctx in ctxs %}
                        <a class="list-group-item items py-1" href="/contexts/view/{{ ctx.id }}">{{ ctx.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}