{% extends 'base.html' %}
{% block title %} Term View {% endblock %}
{% block content %}
    <div class="row">
        <div class="col col-10 mt-2">
            <h3>Term: {{ term.title }}</h3>
            <ul>
                <li>Definition: {{ term.definition }}</li>
                <li>IRI: <a href="{{ term.iri }}" target="_blank">{{ term.iri }}</a><i class="bi bi-link"></i></li>
                <li>Short IRI: {{ nsiri }}</li>
                <li>In Ontology: <a href="/onts/view/{{ term.ont.id }}">{{ term.ont.name }}</a></li>
            </ul>
            <h4>Used in Contexts</h4>
            <ul>
                {% for fld in term.fields_set.all %}
                    <li><a href="/contexts/view/{{ fld.context.id }}">{{ fld.context.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}