{% extends 'base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-0">Add Context</h4>
                        </div>
                    </div>
                </div>
                <div id="form" class="card-body ps-4 pe-4">
                    <form id="addform" action="/contexts/add/" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label id="ctx_prjid" for="prjid" class="col-form-label" title="Choose a project">Project (optional):</label>
                            <select class="form-control" name="prjid" id="prjid" aria-describedby="prjid" {% if not prjs %}disabled{% endif %}>
                                <option value="">Choose...</option>
                                {% for prj in prjs %}
                                    <option value="{{ prj.id }}">{{ prj.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <label id="ctx_name" for="name" class="col-form-label" title="Add a name">Name:</label>
                            <input type="text" class="form-control" name="name" id="name" value="" aria-describedby="ctx_name"/>
                        </div>
                        <div class="form-group row">
                            <label id="ctx_desc" for="description" class="col-form-label" title="Add a description">Description:</label>
                            <input type="text" class="form-control" name="description" id="description" value="" aria-describedby="ctx_desc"/>
                        </div>
                        <div class="form-group row">
                            <label id="ctx_fname" for="filename" class="col-form-label col-4" title="What the filename?">Filename (no extension):</label>
                            <input type="text" class="form-control" name="filename" id="filename" value="" aria-describedby="filename"/>
                        </div>
                        <div class="form-group row">
                            <label id="ctx_subctxs" for="subctxs" class="col-form-label" title="Contexts to be referenced in the context file">Sub-Contexts:</label>
                            <select multiple size="{% if ctxs %}5{% else %}1{% endif %}" class="form-control" name="subctxs" id="subctxs" aria-describedby="subctxs" {% if not ctxs %}disabled{% endif %}>
                                <option value="">{% if ctxs %}Choose...{% else %}Disabled (no contexts){% endif %}</option>
                                {% for ctx in ctxs %}
                                    <option value="{{ ctx.id }}">{{ ctx.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <div class="float-end">
                                <input type="submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}