{% extends 'base.html' %}
{% block title %} Context List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-8 offset-1 mt-2">
            <h3>Current Contexts</h3>
            <ul>
                {% for id, name in ctxlist %}
                    <li><a href="/contexts/view/{{ id }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2">
            <button id="createctx" type="button" class="btn btn-info float-end">Create Context</button>
        </div>
    </div>
{% endblock %}
