{% extends 'base.html' %}
{% block title %} Context List {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card mt-2">
                <div class="card-header pt-1 pb-1">
                    <div class="row g-3">
                        <div class="col-5">
                            <h4>Available Contexts ({{ ctxs|length }})</h4>
                        </div>
                        <div class="col-5">
                            <input id="listsrc" placeholder="Search contexts (or scroll)" class="form-control form-control-sm" aria-label="Search contexts" data-search-override="true" type="text"/>
                        </div>
                        <div class="col-2">
                            <a href="/contexts/add/" type="button" class="btn btn-sm btn-primary float-end">Add Context</a>
                        </div>
                    </div>
                </div>
                <div id="ctxs" class="card-body list-group list-group-flush panel-responsive-220 py-0 pr-0">
                    {% for ctx in ctxs %}
                        <a class="list-group-item item py-1" data-content="{{ ont.name|lower }}" href="/contexts/view/{{ ctx.id }}">{{ ctx.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
